<h1>投稿一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @feelings.each do |feeling| %>
  <tr>
    <td><%= feeling.content %></td>
    <td><%= link_to '投稿を編集する', edit_feeling_path(feeling.id) %></td>
    <td><%= link_to '投稿を削除する', feeling_path(feeling.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しく投稿する', new_feeling_path %>
