<%= form_with(model: @feeling, local: true) do |form| %>
  <div class="feeling_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to '投稿一覧をみる', feelings_path %>
